{
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "tabWidth": 4,
        "printWidth": 80
      }
    }
  ]
}
