:root {
    /* --md-primary-fg-color:        #3d90ce;
    --md-accent-fg-color:         #3d90ce; */
    --icon-external-link: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><g style="stroke:rgb(108,145,213);stroke-width:2"><line x1="5" y1="5" x2="5" y2="14" /><line x1="14" y1="9" x2="14" y2="14" /><line x1="5" y1="14" x2="14" y2="14" /><line x1="5" y1="5" x2="9" y2="5"  /><line x1="10" y1="2" x2="17" y2="2"  /><line x1="17" y1="2" x2="17" y2="9" /><line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /></g></svg>');
  }
  
  :root > * {
    /* Footer */
    --md-footer-bg-color:         #e8e8e8;
    --md-footer-bg-color--dark:   #cccdcf;
    --md-footer-fg-color:         #3d90ce;
    --md-footer-fg-color--light:  #fff;
  
    /* Background */
    --md-default-bg-color:        #f1f1f1;
  }
  
  [data-md-color-scheme="slate"] {
    /* Footer */
    --md-footer-bg-color:         #2e3136;
    --md-footer-bg-color--dark:   #262b2f;
    --md-footer-fg-color:         #3d90ce;
    --md-footer-fg-color--light:  #fff;
  
    /* Background */
    --md-default-bg-color:        #1e1e1e;
  }
  

a[target="_blank"]:after {
    content: '';
    background: no-repeat var(--icon-external-link);
    padding-right: 1em;
}

